.container-fluid{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.btn btn-outline-primary { 
    display:inline-block; 
    float: right;
}
