{% extends "base_generic.html" %}
{% block content %}

<div class='container-fluid'>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <h2>About Us</h2>
        <img id="sh-logo" src="side hustles logo.jpg">
        <hr>
        <p>
          Side Hustles Co. was founded 14 millenias ago on a lawless planet deep in the galaxy Andromeda-S6 by five
          unlikely individuals.
          A famed bounty hunter, an infamous dragon knight, one dogmatic heir to the Jovian throne, and ... the other
          two are of no import.
          Apart, they were malcontent, restless for a challenge, for excitement. Years passed and one day, they
          discovered the new Avatar, an energybender named Kyoshin, and although his skills are great,
          he has a lot to learn before he can take over
          ... blah blah blah.
          Those were all lies. It's the premise of a bad movie no one asked for. Let's start over.
        </p>

        <p>
          Not everyone has time for a job (fixed or flexible) but everyone has the desire for money.
          We are Side Hustles Co. This site was started as a way for users to bring in a money on the side.
          We offer a place for people within the same community to benefit from each other's skills and to trade and
          sell items.
          We hope you find what you're looking.
          <hr>
        </p>
      </div>
    </div>
  </div>

  <footer id="footer">
    <div class="row">
      <div class="col-sm-2"></div>
      <div id="contact-module" class="col-sm-3">
        <h4>Contact</h4>
        <div id="contact-description">
          <ul id="contact-details" style="list-style-type:none">
            <li id="cd-address"> If you have an emergency, please hang up and call 911. We are not liable for the
              situations you get into.</li>
            <li id="cd-email"> <strong>Email:</strong> info@sidehustles.com</li>
          </ul>
          <p id="copyright"> Copyright © 2018 Side Hustles Co.</p>
        </div>
      </div>
    </div>
  </footer>

{% endblock %}