{% extends "base_generic.html" %}
{% load static %}
{% block content %}

<head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" href="{% static 'sidehustles/static/css/mockCSS.css' %}">
</head>

    <!-- Search box -->

<div class="jumbotron">
  <div class="container">
    <h1><center> Side Hustles: buy, sell, & exchange &#x2728; </center></h1>
  </div>


<div class="search container">
    <div class="d-flex">
        <input class="form-control mr-1" type="search" placeholder="I'm looking for..." aria-label="Search">
        <button class="btn btn-primary">&#x1F50E;</button>
    </div>
    
<center><p>&#128071;Need some inspo? Check out these Side Hustlers!&#128071;</p></center>
</div>

</div>

{% load static %}

<div class="biocontainer">
  <div class="row centered-form center-block">
    <div class="container col-md-10 col-md-offset-1">

{% if list_o_services %}
{% for service in list_o_services %}
      <div class="column">
    <div class="card">
      <img src="{% static "sidehustles/images/pic2.jpg" %}" alt="Mike" style="width:50%">
      <div class="container">
        <h2>My service: {{ service.service_name}} </h2>
        <p class="title">Category: {{ service.service_category }}</p>
        <p>Location: {{ service.service_location }}</p>
        <p>Cost: ${{ service.service_cost }}</p>
        <p>Be the first like! &#128077;</p>
        <p><button class="button">Match</button></p>
      </div>
    </div>
  </div>
{% endfor %}

{% else %}
<p>hi</p>
{% endif %}


    </div>
  </div>
</div>
{% endblock %}

