{% extends "base_generic.html" %}
{% block content %}
<div class="row">
  <div class="col-sm-4">
    <img class="product" src="https://c1.staticflickr.com/9/8287/29517736620_3184b66ec8.jpg" alt="placeholder">
  </div>
  {% load static %}

  
  <div class="col-sm-4 titles">
    <h1 class="product">{{ service.skill_info.title  }}</h1>
    <h2>{{ service.seller_name  }}</h2>
    <button type="button" class="btn-product btn-outline-primary">Message</button>
  </div>
</div>

<div class="row">
  <div class="col-sm-4 btm-row">
    <h3>FAQs</h3>
    <div id="accordion">
    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapseOne">
          How much does {{ service.skill_info.title }} cost?
        </a>
      </div>
      <div id="collapseOne" class="collapse show" data-parent="#accordion">
        <div class="card-body">
          {{ service.service_cost }}
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
        How many likes does {{ service.skill_info.title }} have?
      </a>
      </div>
      <div id="collapseTwo" class="collapse" data-parent="#accordion">
        <div class="card-body">
         {{  service.service_proficiency }}
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="col-sm-4 btm-row">
    <h3>Reviews</h3>
    <!-- <div class="customer-review">
      <p>
      <i class="fa fa-star 2x"></i>{{ service.service_stars }}</p>
    </div> -->


    <form method="POST" class="post-form" action="">{% csrf_token %}
      <div class="form-group">

        {% if reviews %}
        {% for review in reviews %}
        <p>Review: {{ review.review_text }}</p>

        {% endfor %}
        <p>Review: {{ review.editable_text }}</p>
        {% else %}
        <p>There are no reviews yet.</p>
        {% endif %}
        <!--<textarea class="form-control" rows="3" id="comment"></textarea>-->
        <table>
          {{form.as_table}}
        </table>
        <button type="submit" class="btn-product btn-outline-primary review">Submit</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
